<div class="nav-Container">
    <ul>
        <li class="li-tems topNav"><i class="fa-solid fa-house"></i></li>
        <li class="li-tems"><i class="fa-solid fa-person"></i></i></li>
        <li class="li-tems"><i class="fa-brands fa-github"></i></li>
        <li class="li-tems"><i class="fa-solid fa-address-book"></i></li>
    </ul>
</div>