<%-include("partials/header.ejs")%>

<div class="mid-Container">
    <div class="nav-Container">
        <%-include("partials/nav.ejs")%>
    </div>

    <div class="mid-Content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 column1">
                    <div class="left-content">
                        <h1 style="text-align: center;">Hello <i class="fa-solid fa-exclamation"></i> </h1>
                        <p>I'm <span class="name-message">Faeem Ahmed</span></p>
                    </div>
                </div>
                <div class="col-sm col-md-6 column1">
                    <div class="right-content">
                        <img class="profilePic"
                            src="https://media.licdn.com/dms/image/D4E03AQEA9J6c0MDK4A/profile-displayphoto-shrink_800_800/0/1667786309834?e=1687996800&v=beta&t=tWjbFUnKzexwAMvyIz0Qn_GvHpXKaVNhVG2GDGjUhSs"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%-include("partials/footer.ejs")%>