<%-include("partials/header.ejs")%>

<div class="mid-Container">
    <div class="nav-Container">
        <%-include("partials/nav.ejs")%>
    </div>

    <div class="mid-Content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 column1">
                    <div class="left-content">
                        <h1>Welcome</h1>
                    </div>
                </div>
                <div class="col-sm col-md-6 column1">
                    One of three columns
                </div>
            </div>
        </div>
    </div>

</div>

<%-include("partials/footer.ejs")%>