body{
    background-color: grey;

}

.nav-Container{
    padding-top: 15px;;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    
}
.navbar{

    background-color: grey;
    height:50px;
    border-radius: 30px;;
}
.mid-Container{
   
    background-image: url("https://sites.psu.edu/bjr5500/files/2017/07/background-wallpapers-beautiful-website-sphere-different-backgrounds-2hiuje6.jpg");
    height:1000px;
    width: 100%;
  
}
.mid-Content{

    position: relative;
    display: flex;
    justify-content: center;
   
    height: 900px;;
   
    padding-top: 30px;;
}
.left-content{

    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    position: absolute;
    top: 0px;;
}


.name-message{
    font-family: 'Roboto Mono', monospace;
    
    text-decoration: underline;

}
.column1{
    margin-top: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
 
}
.right-content{
    color: black;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 0px;;

}
.profilePic{
    border-radius: 10px;
    height: 500px;
    opacity: 0.6;
    rotate: 15deg;
    
}